# Cloudflare API credentials used by Certbot
# When you use the global API, you have to specify your email address as well.
# When you use a specific API key, keep the email address commented.

#dns_cloudflare_email = info@example.com
#dns_cloudflare_api_key = 